@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h1{
    font-family: "Nerko One";
    font-weight: 400;
    text-align: center;

}

 body{
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
