body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    width: 100vw;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width: 100px;

    height: 300px;
    background: coral;
    
    
}

.container2{
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
}

.box2{
    width: 100px;

    height: 300px;
    background: blue;
    
    
}