body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.container{
    width: 100%;

}

.box{
    width: 100px;
    margin: auto;
    height: 300px;
    background: coral;
    margin-top: 100px;
    font-size: xx-large;
}