@font-face {
    font-family: PPAcma;
    src: url("fonts/PPAcma-Black.otf");
}


*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 400px;

}

.calculator :first-child{
    text-align: end;
}

.operators{
    background-color: salmon;
}

.calculator * {
    padding: 1rem;
    text-align: center;
    border: 1px solid lightcyan;
}

.answer {
    background: gray;
    color: white;
    grid-column: span 4;
}

.numbers{
    background-color: coral;
}

.cancel{
    background-color: black;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

h1{
    font-family: 'PPAcma','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}